/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  padding: 0px;
  overflow-x: hidden;
}

.shiptext {
  font-family: 'Lato', sans-serif;
  font-size: 0.91em;
  font-weight: bold;
  color: white;
  z-index: 5;
  position: absolute;
  top: 15px;
  text-align: center;
  width: 100%;
}

.videocontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background-color: black;
}

.videocontainer video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 66%;
}

#title {
  position: absolute;
  top: 2000px;
}

.navbar {
  margin-top: 16px;
  padding: 22px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  list-style-type: none;
  align-items: center;

}

.navitem {
  width: 43px;
  height: auto;
}

.navlogo {
  width: 6.7rem;
  height: auto;
  margin-left: 30px;
}

hr {
  color: black;
  border: black;
  height: 48px;
  z-index: 1;
  background: black;
}

.resonance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-top: 0%;
}

.resonancehead {
  font-family: 'Lusitana', serif;
  font-size: 2em;
  z-index: 2;
  color: white;
  font-weight: 200;
  margin-left: 11%;
  width: 70%;
}

.resonancetext {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: white;
  z-index: 2;
  line-height: 30px;
  margin-left: 11%;
  width: 70%;
}

.resonancebutton {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  border: none;
  color: black;
  padding: 18px 10%;
  font-size: 16px;
  border-radius: 35px;
  width: 90%;
  margin-left: 5%;
  max-width: 390px;
  margin-top: 5%;
}
.slider1item {
  overflow: hidden;
  width: 90%;
  border-radius: 30px;
}
.test1 {
  position: absolute;
  top: 160%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.mountainimg {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}